################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WallsAndDoorsTester/bin
/WallsAndDoorsTester/obj